html,
body {
	background-color: #141414;
	color: white;
	font-family: 'SF UI Display', 'arial';
}

@font-face {
	font-family: 'SF UI Display';
	font-style: normal;
	font-weight: 500;
	src: local('SF UI Display'), url('./sf-ui-display-medium.woff') format('woff');
}

.flashcard {
	margin-top: 50px;
	text-align: center;
}

.japanese {
	transition: 150ms;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 50px;
}

.flashcard.hide-answer .japanese {
	visibility: hidden;
	opacity: 0;
}

.translation {
	font-size: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.card-image img {
	margin-top: 30px;
	height: 200px;
	object-fit: contain;
	border-radius: 8px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.continue-button {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 40px;
	margin: 10px;
	font-size: 30px;
	text-align: center;
	background-color: #202020;
	color: grey;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	transition: 300ms ease-in-out;
	user-select: none;
	cursor: pointer;
}

.continue-button:hover {
	background-color: rgba(32, 32, 32, 0.5);
}

.speed-display {
	color: grey;
	position: relative;
	display: flex;
}

.speed-display div {
	position: absolute;
	user-select: none;
}

.notice {
	position: absolute;
	top: 5px;
	right: 5px;
	color: #aaa;
	font-size: 13px;
}

.notice a {
	color: #28a0dc;
}